<nav class="navbar navbar-expand- div-background ">
  <a class="navbar-brand text-white" href="#">
    <img src="assets/lwamLogo.GIF" alt="Lwam Tech Solutions" width="80" height="35">
  </a>
  
  <nav class="navbar ">
    <div class="navbar-nav ">
      
      <a class="nav-item nav-link text-white" href="#">About Us </a> 
    </div>
  
  
    <div  >
      <a class="nav-item nav-link text-white" href="#">Training</a> 
    </div>
  
    <div class="navbar-nav">
      <a class="nav-item nav-link text-white" href="#">Contact Us</a>
    
    </div>
    </nav>
  

  
</nav>

      
      