
<div class="row container-fluid div-background" style="margin: 0px 0px 0px 0px;" >   
 
  <div class="row col-md-6 justify-content-center">     
           
              <!-- <div class=" justify-content-center" style=" margin: auto;"> -->
                  <div class=" card text-white" style=" background:transparent" >
                          
                                 <a routerLink="/register" routerLinkActive="active" >
                                         <div> <h2 class="card-header text-white">Software Development Training</h2></div>
                                          <p class="card-text text-white  " >
                                                  Web APP (Full Stack) training using
                                                  cutting edge technologies like Angular 6,
                                                  Spring Boot, .NET Core and Database.
                                          </p>
                                  </a>                                    
                          
                  </div>
                  <br>
                  <div class="card text-white"  style="background:transparent">
                          
                                 <a routerLink="/training" routerLinkActive="active">
                                        <div>  <h2 class="card-header text-white">Products</h2></div>
                                          <p class="card-text text-white">
                                          EriBook: Eritrean Social Networking is unique
                                          to Eritrean people and Calture. 
                                          </p>  
                                  </a>                                          
                          
                  </div> 
        </div>
        
    

    <div class="row col-md-6 justify-content-center">
             

                    <div class="card text-white"  style= "background:transparent">
                          
                                  <a routerLink="/consulting" routerLinkActive="active">
                                         <div> <h2 class="card-header text-white">Software Consulting</h2> </div>
                                          <p class="card-text text-white">
                                                  Software Solution with emphasis on Web Aplication and Mobile Aplication.
                                          </p>
                                  </a>
                                  
                    </div>
                     <br>     
                    
                  <div class="card text-white"  style="background:transparent">
                         
                                  <a routerLink="/research" routerLinkActive="active">
                                          <div><h2 class="card-header text-white">R&D in Eritrea</h2></div>
                                          <p class="card-text text-white">
                                                  Technology research and Developement 
                                                  in Eritrea.
                                          </p>
                                  </a>
                          
                         
                          
                      </div> 
                   
           

          
        
        </div>

          
        
                    
     
</div>
